/*-- scss:defaults --*/

$syn-lightblue: #d2dffc;

$bslib-sidebar-bg: $syn-lightblue !default;



/*-- scss:rules --*/

.sidebar.html-fill-container h2 {
  font-size: 1rem;
  margin-top: 0;
}

.irs--shiny.irs-with-grid, .shiny-input-select {
  margin: 0 10px;
}

.form-group.shiny-input-container > .control-label {
  font-weight: bold;
}
