// Sidebar panel button
.btn-default:not(.btn-default:hover) {
  background-color: #fcfdff;
}

// Validation error message
.shiny-output-error {
  display: grid;
  justify-content: center;
}

// Nested tabs
.nav.nav-tabs {
  margin-bottom: 10px;
}

// Text
h1, .h1 {
  font-size:calc(1.25rem + 1vw)
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size:2rem
  }
}
h2, .h2 {
  font-size:calc(1.2rem + .533vw)
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size:1.6rem
  }
}
h3, .h3 {
  font-size:calc(1.15rem + .2vw)
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size:1.3rem
  }
}
h4, .h4 {
  font-size:calc(1.1rem + .067vw)
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size:1.15rem
  }
}
h5, .h5 {
  font-size:1rem
}
h6, .h6 {
  font-size:.85rem
}

