/*-- scss:defaults --*/

$syn-lightblue: #d2dffc;

$bslib-sidebar-bg: $syn-lightblue !default;



/*-- scss:rules --*/

.sidebar.html-fill-container h2 {
  font-size: 1rem;
  margin-top: 0;
}

.irs--shiny.irs-with-grid, .shiny-input-select, .action-button {
  margin: 0 10px;
}

#cod.shiny-input-select, #cod.shiny-input-select + .shiny-input-select {
  min-width: 20em;
}

#cod.shiny-input-select + .shiny-input-select > .selectize-input > .item {
 margin-right: 20px;
}

#cod.shiny-input-select + .selectize-control.single .selectize-input:not(.no-arrow)::after {
  right: 10px;
}

/* .form-group.shiny-input-container > .control-label {
  font-weight: bold;
} */

.shiny-output-error {
  display: grid;
  justify-content: center;
}

